form {
    border: 3px solid #f1f1f1;
    width: 35%;
    margin-left: 33%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


::ng-deep .mat-snack-bar-container{
    transform: scale(1)!important ;
    opacity: 1!important ;
    margin-top: 8%!important ;
    background: #04AA6D!important ;
    width: -51px!important ;
    width: 0px!important ;
    margin-left: 34%!important ;
}

 ::ng-deep .mat-simple-snackbar span {
    margin: auto !important;
    color:white !important;
    text-align: center !important;
    font-size: larger !important;
 }